<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag :main, :media => "screen" %>
    <%= favicon_tag 'images/favicon.png' %>
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Philip Joubert <%= "- Startups, surfing and meditation" unless current_article.present? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= javascript_include_tag 'jquery-3.3.1' %>
    <%= javascript_include_tag 'magicquote' %>
  </head>

  <body>
    <div class="main">
      <aside>
        <div class="bio">
          <% link_to "/" do %>
            <%= image_tag "philip.jpg" %>
          <% end %>
          <span class="home-nav"><%= link_to "Philip Joubert", "/" %></span>
          <div class="about-me">
            <p>
              Welcome to my site! I’m the co-founder at <%= link_to "OfferZen", "https://www.offerzen.com/" %>, a talent marketplace for makers. I'm also a co-founder of <%= link_to "Root", "https://root.co.za/" %>, a fintech platform. 
            </p>
            <p>
              I lived in Silicon Valley for a while but now I'm back in Cape Town, South Africa. It's pretty sweet here.
            </p>
            <p>
              My philosophy about surfing is that if you're not wiping out some of the time you're not trying hard enough. I wipe out all the time.
            </p>
            <p>
              Find me on Twitter <%= link_to "@philipjoubert", "https://twitter.com/PhilipJoubert" %>.
            </p>
          </div>
        </div>
      </aside>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
