<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag :main, :media => "screen" %>
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Philip Joubert <%= "- Startups, surfing and meditation" unless current_article.present? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div class="main">
      <aside>
        <div class="bio">
          <%= image_tag "philip.jpg" %>
          <span class="home-nav"><%= link_to "Philip Joubert", "/" %></span>

          <p>
            Welcome to my site! I’m the co-founder at <%= link_to "OfferZen", "https://www.offerzen.com/" %>, focused on AI. I’m also the co-founder of AI Grant, a distributed AI research lab.
          </p>
          <p>
            Previously I was a Director at Apple via the acquisition of Cue, which I co-founded.
          </p>
          <p>
            In my spare time, I love long distance running and long distance reading. Ideally with a strong cup of overpriced coffee.
          </p>
          <p>
            I love helping people around the world with their projects. Find me via email or Twitter <%= link_to "@philipjoubert", "https://twitter.com/PhilipJoubert" %>.
          </p>
        </div>
      </aside>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
